### Assignment-04 (List)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

Create an empty list and print it.

In [2]:
L=[]
print (L)

[]

Create a list of your favorite colors and print it.

In [3]:
Fav_colours=["red","green","blue"]
Fav_colours

['red', 'green', 'blue']

Create a list that includes a mix of data types (integers, strings, floats).

In [5]:
mixed_list = [42, "apple", 3.14, 7, "banana", 2.718, "cherry", 100]
mixed_list

[42, 'apple', 3.14, 7, 'banana', 2.718, 'cherry', 100]

Access the first element of a list.

In [11]:
mixed_list = [42, "apple", 3.14, 7, "banana", 2.718, "cherry", 100]
first_element=mixed_list[0]
first_element

42

Access the last element of a list.

In [12]:
mixed_list=[100,"cherry",2,34,"apple"]
last_element=mixed_list[-1]
last_element

'apple'

 Access the second and third elements of a list.

In [19]:
mixed_list=[100,"cherry",2,34,"apple"]
l2=mixed_list[-3:-1]
l2

[2, 34]


Slice a list to extract the first three elements.

In [23]:
mixed_list=[100,"cherry",2,34,"apple"]
l=mixed_list[:3]
l

[100, 'cherry', 2]

Slice a list to extract the last three elements.

In [25]:
mixed_list=[100,"cherry",2,34,"apple"]
l=mixed_list[2:]
l

[2, 34, 'apple']

Slice a list to get every second element.

In [27]:
mixed_list=[100,"cherry",2,34,"apple","king","kong","alpha","mega"]
l=mixed_list[::2]
l

[100, 2, 'apple', 'kong', 'mega']

Reverse a list using slicing.

In [29]:
mixed_list=[100,"cherry",2,34,"apple","king","kong","alpha","mega"]
l=mixed_list[::-1]
l

['mega', 'alpha', 'kong', 'king', 'apple', 34, 2, 'cherry', 100]

 Create two lists and concatenate them.

In [30]:
l1=[100,"cherry",2,34]
l2=["apple","king","kong","alpha","mega"]
l3=l1+l2
l3

[100, 'cherry', 2, 34, 'apple', 'king', 'kong', 'alpha', 'mega']


Repeat a list multiple times using the repetition operator

In [33]:
l2=["apple","king","kong","alpha","mega"]
repeated_list=l2*3
repeated_list

['apple',
 'king',
 'kong',
 'alpha',
 'mega',
 'apple',
 'king',
 'kong',
 'alpha',
 'mega',
 'apple',
 'king',
 'kong',
 'alpha',
 'mega']

Add a new element to the end of a list using the append() method.

In [34]:
mixed_list = [42, "apple", 3.14]
mixed_list.append("cake")
mixed_list

[42, 'apple', 3.14, 'cake']


Extend a list with elements from another list using the extend() method.

In [43]:
l1=[100,"cherry",2,34]
l2 =["apple","king","kong","alpha","mega"]
l1.extend(l2)
l1

[100, 'cherry', 2, 34, 'apple', 'king', 'kong', 'alpha', 'mega']

Insert an element at a specific index in a list using the insert() method.

In [48]:
l1=[100,"cherry",2,34]
l1.insert(2,"king")
l1

[100, 'cherry', 'king', 2, 34]

 Remove the last element from a list using the pop() method.

In [49]:
l1=[100,"cherry",2,34]
l1.pop()
l1

[100, 'cherry', 2]

Remove a specific element from a list using the remove() method.

In [50]:
l1=[100,"cherry",2,34]
l1.remove("cherry")
l1

[100, 2, 34]

Clear all elements from a list.

In [52]:
l1=[100,"cherry",2,34]
l1.clear()
l1

[]

Delete an element at a specific index using the del statement.

In [56]:
l1=[100,"cherry",2,34,"five"]
del l1[4]
l1

[100, 'cherry', 2, 34]

Convert a string to a list of characters and vice-versa.

In [58]:
word="string"
converting = list(word)
converting

['s', 't', 'r', 'i', 'n', 'g']

In [62]:
 # Sort a list in ascending order using the sort() method.
l1=[100,2,34,5,9]
l1.sort()
l1

[2, 5, 9, 34, 100]

In [63]:
list=["king","kong","green","red","apple"]
list.sort()
list

['apple', 'green', 'king', 'kong', 'red']

In [ ]:

Sort a list in descending order using the sort() method.

In [65]:
list=["king","kong","green","red","apple"]
list.sort(reverse=True)
list

['red', 'kong', 'king', 'green', 'apple']

Reverse the order of a list using the reverse() method.

In [66]:
list=["king","kong","green","red","apple"]
list.reverse()
list

['apple', 'red', 'green', 'kong', 'king']

Check if an element is present in a list using the in operator.

In [67]:
list=["king","kong","green","red","apple"]
if "apple" in list:
    print("yes present")

yes present