### Assignment-05 (SET)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

    Create an empty set and print it.

In [1]:
set=()
print(set)

()

  Create a set of your favorite colors and print it.

In [2]:
set=('red','green','blue')
print(set)

('red', 'green', 'blue')

    Create a set that includes a mix of data types (integers, strings, floats).

In [3]:
set=('apple','green',3,3.5)
print(set)

('apple', 'green', 3, 3.5)

Access the elements of a set using a loop and print each element.

In [5]:
my_set = {1, 2, 3, 4, 5}
for element in my_set:
    print(element)

1
2
3
4
5

add a new element to a set using the add() method.

In [7]:
my_set = {1, 2, 3, 4, 5}
addition=my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

Add multiple elements to a set using the update() method.

In [11]:
my_set = {1, 2, 3, 4, 5}
new_ele={7,8,9}
add=my_set.update(new_ele)
print(my_set)

{1, 2, 3, 4, 5, 7, 8, 9}

Remove and return an arbitrary element from a set using the pop() method.

In [16]:
my_set = {1, 2, 3, 4, 5}
pop=my_set.pop()
print(pop)

1

Remove a specific element from a set using the remove() method.

In [19]:
my_set = {1, 2, 3, 4, 5}
pop=my_set.remove(3)
print(my_set)

{1, 2, 4, 5}

Remove a specific element from a set using the discard() method.

In [20]:
my_set = {1, 2, 3, 4, 5}
pop=my_set.discard(3)
print(my_set)

{1, 2, 4, 5}

Convert a string to a set of unique characters.

In [27]:
string = "AHSAN"
st = set(string)
print(st)

TypeError: 'tuple' object is not callable

Convert a set of characters to a string.

In [28]:
char_set = {'A', 'H', 'S', 'N'}
result_string = ''.join(char_set)
print(result_string)

HANS

Use the clear() method to remove all elements from a set.

In [31]:
my_set = {1, 2, 3, 4, 5}
clear=my_set.clear()
print(clear)

None

Use the copy() method to create a shallow copy of a set.

Use the difference() method to find the difference between two sets.

In [37]:
my_set_1 = {1, 2, 3, 4, 5}
my_set_2={0,1,2,3,4}
difference=my_set_1.difference(my_set_2)
print(difference)

{5}

Create two sets and find their union.

In [33]:
my_set_1 = {1, 2, 3, 4, 5}
my_set_2={0,5,6,2,4}
union=my_set_1.union(my_set_2)
print(union)

{0, 1, 2, 3, 4, 5, 6}

    Create two sets and find their intersection.

In [35]:
my_set_1 = {1, 2, 3, 4, 5}
my_set_2={0,5,6,2,4}
intersection=my_set_1.intersection(my_set_2)
print(intersection)

{2, 4, 5}

 Create two sets and find their difference.

In [36]:
my_set_1 = {1, 2, 3, 4, 5}
my_set_2={0,1,2,3,4}
difference=my_set_1-my_set_2
print(difference)

{5}

    Create two sets and find their symmetric difference.

In [39]:
my_set_1 = {1, 2, 3, 4, 5}
my_set_2={4,5,6,7,8}
difference=my_set_1.symmetric_difference(my_set_2)
print(difference)

{1, 2, 3, 6, 7, 8}

Check if one set is a subset of another.

In [43]:
my_set_1 = {1, 2, 3, 4, 5}
my_set_2={4,5,6,7,8}
difference=my_set_1.issubset(my_set_2)
print(difference)

False

    Check if one set is a superset of another.

In [44]:
my_set_1 = {1, 2, 3, 4, 5}
my_set_2={4,5,6,7,8}
super_set=my_set_1.issubset(my_set_2)
print(super_set)

False

    Check if two sets are disjoint (have no common elements).

In [45]:

set1 = {1, 2, 3}
set2 = {4, 5,6}
are_disjoint = set1.isdisjoint(set2)
print(are_disjoint)

True