### Assignment-05 (Tuple)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

    Create an empty tuple and print it.

In [1]:
tuple=()
print(tuple)

()

    Create a tuple of your favorite fruits and print it.

In [3]:
fruits=('apple','cherry','grapes')
print(fruits)

('apple', 'cherry', 'grapes')

    Create a tuple that includes a mix of data types (integers, strings, floats).

In [4]:
mixed=('apple','banana','grapes',34,7.16)
print(mixed)

('apple', 'banana', 'grapes', 34, 7.16)

  Access the first element of a tuple.

In [5]:
mixed=('apple','banana','grapes',34,7.16)
print(mixed[0])

apple

    Access the last element of a tuple.

In [6]:
mixed=('apple','banana','grapes',34,7.16)
print(mixed[4])

7.16

Access the second and third elements of a tuple.

In [8]:
mixed=('apple','banana','grapes',34,7.16)
print(mixed[1:3])

('banana', 'grapes')


    Slice a tuple to extract the first three elements.

In [9]:
mixed=('apple','banana','grapes',34,7.16)
print(mixed[:3])

('apple', 'banana', 'grapes')

Slice a tuple to extract the last three elements.

In [13]:
mixed=('apple','banana','grapes',34,7.16)
print(mixed[2:])

('grapes', 34, 7.16)

   Slice a tuple to get every second element.

In [17]:
mixed=('apple','banana','grapes',34,7.16,'king','kong')
print(mixed[0::2])

('apple', 'grapes', 7.16, 'kong')

    Reverse a tuple using slicing.

In [18]:
mixed=('apple','banana','grapes',34,7.16,'king','kong')
print(mixed[::-1])

('kong', 'king', 7.16, 34, 'grapes', 'banana', 'apple')

Create two tuples and concatenate them.

In [21]:
tuple_1=('apple','banana','cabbage')
tuple_2=('red','yellow','green')
description= tuple_1 + tuple_2
print(description)

('apple', 'banana', 'cabbage', 'red', 'yellow', 'green')

    Repeat a tuple multiple times using the repetition operator.

In [22]:
tuple_1=('apple','banana','cabbage')
repetition=tuple_1=('apple','banana','cabbage')*2
print(repetition)

('apple', 'banana', 'cabbage', 'apple', 'banana', 'cabbage')

Find the index of a specific element in a tuple using the index() method.

In [23]:
tuple_1=('apple','banana','cabbage')
indexing=tuple_1.index('apple')
print(indexing)

0

    Count the number of occurrences of a specific element in a tuple using the count() method.

Sort a tuple of numbers in ascending order.

In [24]:
tuple_1=('apple','banana','cabbage','apple')
counting=tuple_1.count('apple')
print(counting)

2

    Sort a tuple of strings in alphabetical order.

In [44]:
tuple_1=('kiwi','apple','banana','cabbage','grapes','mango')
list_tuple=list(tuple_1)
list_tuple.sort()
print(list_tuple)

sorted_tuple = tuple(list_tuple)
print(sorted_tuple)

['apple', 'banana', 'cabbage', 'grapes', 'kiwi', 'mango']

TypeError: 'tuple' object is not callable

Sort a tuple of tuples based on the second element of each inner tuple.

In [48]:
two_of_tuples = ((1,3 ), (3,1 ), (4,2 ), (5, 4))
sorted_tuple = tuple(sorted(two_of_tuples, key=lambda x: x[1]))
print(sorted_tuple)

TypeError: sort() takes no positional arguments

Compare two tuples to see if they are equal in both value and identity.

In [49]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = tuple1  
value_equal = tuple1 == tuple2  
identity_equal = tuple1 is tuple2 
identity_equal_same_reference = tuple1 is tuple3

print(f"Value equality: {value_equal}")  
print(f"Identity equality (tuple1 is tuple2): {identity_equal}") 
print(f"Identity equality (tuple1 is tuple3): {identity_equal_same_reference}")

Value equality: True
Identity equality (tuple1 is tuple2): False
Identity equality (tuple1 is tuple3): True

Create a shallow copy of a tuple and observe the effects of modifying one of the tuples.

    Create a deep copy of a nested tuple and observe the effects of modifying one of the tuples.

    Pickle a tuple and save it to a file.

In [50]:
import pickle
my_tuple = (1, 2, 3, "apple", "banana")
with open("tuple.pkl", "wb") as file:
    pickle.dump(my_tuple, file)

print("Tuple has been pickled and saved to 'tuple.pkl'.")

Tuple has been pickled and saved to 'tuple.pkl'.

    Unpickle a tuple from a file and display its content.