### Assignment-05 (DICTIONARY)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

    Create an empty dictionary and print it.

In [1]:
dict={}
dict

{}

    Create a dictionary representing a person with keys such as 'name', 'age', and 'city'.

In [5]:
#dict1 =
{
    "name",
    "age",
    "city"
}

{'age', 'city', 'name'}

    Create a dictionary that includes keys with different data types (strings, integers).

In [7]:
#dict1 =
{
    "name":"ahsan",
    "age":24,
    "city":"lahore"
}

{'name': 'ahsan', 'age': 24, 'city': 'lahore'}

Access and print the value associated with a specific key.

In [9]:
dict1={
    "name":"ahsan",
    "age":24,
    "city":"lahore"
} 
for values in dict1.values():
    print(values)

ahsan
24
lahore

    Use the get() method to access a value, providing a default value if the key is not present.

In [10]:
data = {
    "name": "ahsan",
    "age": 24,
    "city": "lahore"
}
print(data.get("name", "not found"))   
print(data.get("age", "not found"))   
print(data.get("city", "not found"))  
print(data.get("country", "not found"))

ahsan
24
lahore
not found

    Iterate through the keys of a dictionary and print each key.

In [13]:
data = {
    "name": "ahsan",
    "age": 24,
    "city": "lahore"
}

for key in data:
    print(key)

name
age
city

Add a new key-value pair to a dictionary.

In [14]:
data = {
    "name": "ahsan",
    "age": 24,
    "city": "lahore"
}
data["country"] = "Pakistan"
print(data)

{'name': 'ahsan', 'age': 24, 'city': 'lahore', 'country': 'Pakistan'}

Modify the value associated with an existing key.

In [15]:
data = {
    "name": "ahsan",
    "age": 24,
    "city": "lahore"
}
data["city"] = "karachi"
print(data)

{'name': 'ahsan', 'age': 24, 'city': 'karachi'}

Remove a specific key-value pair from a dictionary using the pop() method.

In [17]:
data = {
    "name": "ahsan",
    "age": 24,
    "city": "lahore"
}
# Remove the "age" key
removed_value = data.pop("age", "Key not found")

print("Removed value:", removed_value)
print("Updated dictionary:", data)

Removed value: 24
Updated dictionary: {'name': 'ahsan', 'city': 'lahore'}

    Remove a specific key-value pair from a dictionary using the del statement.

In [19]:
data = {
    "name": "ahsan",
    "age": 24,
    "city": "lahore"
}
del data["city"]
print(data)

{'name': 'ahsan', 'age': 24}

Convert a dictionary to a list of keys.

In [20]:
data = {
    "name": "ahsan",
    "age": 24,
    "city": "lahore"
}
keys_list = list(data.keys())
print(keys_list)

['name', 'age', 'city']

    Convert a dictionary to a list of values.

In [21]:
data = {
    "name": "ahsan",
    "age": 24,
    "city": "lahore"
}
keys_list = list(data.values())
print(keys_list)

['ahsan', 24, 'lahore']

    Convert a list of tuples to a dictionary.

In [23]:
# List of tuples
tuples_list = [("name", "ahsan"), ("age", 24), ("city", "lahore")]
data = dict(tuples_list)
print(data)

TypeError: 'dict' object is not callable

Use the keys() method to get a list of keys in a dictionary.


    Use the values() method to get a list of values in a dictionary.

In [25]:
data = {
    "name": "ahsan",
    "age": 24,
    "city": "lahore"
}

# Get a list of keys using .keys()
keys_list = list(data.values())

print(keys_list)

['ahsan', 24, 'lahore']

    Use the items() method to get a list of key-value pairs in a dictionary.

In [26]:
data = {
    "name": "ahsan",
    "age": 24,
    "city": "lahore"
}
items_list = list(data.items())
print(items_list)

[('name', 'ahsan'), ('age', 24), ('city', 'lahore')]

Check if a key is present in a dictionary using the in operator.

In [28]:
data = {
    "name": "ahsan",
    "age": 24,
    "city": "lahore"
}
if "age" in data:
    print("The key 'age' is present in the dictionary.")
else:
    print("The key 'age' is not present in the dictionary.")

The key 'age' is present in the dictionary.

    Merge two dictionaries using the update() method.

In [29]:
# Two dictionaries
dict1 = {
    "name": "ahsan",
    "age": 24
}

dict2 = {
    "city": "lahore",
    "age": 25
}
dict1.update(dict2)

print(dict1)

{'name': 'ahsan', 'age': 25, 'city': 'lahore'}